.hero{
  width: 100%;
  height: 550px;
  margin-top: 116px;
  float: left;
  background-image: url("aboutimage.jpg");
  background-size: cover;
  z-index: -1;
  position: relative;
}

nav{
  position: fixed;
  background-color: black;
  top:0;
  left:0;
  width: 100%;
  z-index: 5;
  padding-top:10px;
}

ul {
  float:right;
  padding: 15px;
  margin-right:10px;
  line-height: 50px;
  list-style-type: none;
  text-align:right;
}

ul li{
  display: inline-block;
  margin:0 16px;
}

a {
  float:left;
  display: block;
  color: white;
  text-align: center;
  width:200px;
  height:50px;
  text-decoration: none;
  font-size: 17px;
  background-color: #f4a142;
}

a:hover {
  color:black;
  background-color: #f4a142;
}

.title{
  text-align: center;
  margin-top: 20px;
}

.main-title {
  padding-top:20px;
  padding-left:20px;
  float:left;
  color:white;
  font-size: 20px;
  text-align: center;
}

.Subtitle{
  text-align: left;
  font-size: 25px;
  font-family: 'helvetica';
}

.motto{
  text-align: center;
}

p{
  font-family: 'helvetica';
  font-size: 20px;
  text-align: left;
}

.founders{
  text-align: left;
  font-size: 25px;
  font-family: 'helvetica';
}

img {
  border-radius: 50%;
  width: 15%;
  padding: 10px;
}

/*.elyssa{
  float: left;
  width: 30%;
}

.becca{
  float: right;
  width: 30%;
}*/
