html, body, ul{
  margin:0;
  padding:0;

}

.content{
  position:absolute;
  padding-right: 50px;
  top:10%;
  left:0%;
  width: 100%;
  box-sizing: border-box;
}


h1 {
color: white;
text-shadow: 7px 7px 40px #000000;
text-align: right;
font-size: 100px;

}

h3 {
  color:white;
  text-align: center;
  font-size:40px;
}

h2 {
  padding-top:20px;
  padding-left:20px;
  float:left;
  color:white;
  font-size: 20px;
  text-align: center;
}

h6{
  font-family: helvetica;
  color: white;
  text-shadow: 4px 4px 4px #000000;
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  nav {
    position: absolute;

  }
ul{
  text-align:center;
  }
  }

.wrapper {
  width: 100%;
  margin: 0 auto;
  box-sizing: border;

}


.left-column {
  float:left;
  background-image:url("spicymayo_bk.jpg");
  background-size: cover;
  width: 50%;
  height: 800px;
  align-content: center;
  padding:10px;
  box-sizing: border-box;

}


.right-column{
  float:left;
  background-color: #000000;
  width: 50%;
  height: 800px;
  padding:100px;
  box-sizing: border-box;

}
/*email form*/

button {
    background-color: #f4a142;
    color: black;
    padding: 10px 20px;
    border: none;
    margin-top: 20px;
}

button:hover {
    opacity: 0.8;
    color: black;
}

form{
width: 70%;
}

input{
width: 100%;
padding:5px;
}