html, body, ul{
	margin:0;
	padding:0;

}


.hero {
  float:left;
  position: relative;
  margin-top:98px;
  height:800px;
	width: 100%;
  background-image: url("spicymayo_bk.jpg");
  background-size: cover;
  z-index: -1;

}

.content{
  position:absolute;
  padding-right: 50px;
  top:10%;
  left:0%;
  width: 100%;
  box-sizing: border-box;
}


h1 {
font-family: 'Shojumaru';
color: white;
text-shadow: 7px 7px 40px #000000;
text-align: right;
font-size: 100px;

}

h2 {
  font-family: 'Shojumaru';
  padding-top:20px;
  padding-left:20px;
  float:left;
  color:white;
  font-size: 20px;
  text-align: center;
}

p{
  float:right;
  font-family: 'Montserrat';
  color: white;
  text-shadow: 4px 4px 4px #000000;
  text-align: center;
  font-size: 20px;
  width: 400px;
}


@media screen and (max-width: 600px) {
  nav {
    position: absolute;

  }
ul{
  text-align:center;
  }
  .hero {
    margin-top:350px;
  }
  }